.metadata/
example/project/target/
funsets/project/project/target/
funsets/project/target/
funsets/target/
objsets/bin/
objsets/project/target/
objsets/target/
example/project/project/target/
example/target/
objsets/project/project/target/
recfun/project/project/target/
recfun/project/target/resolution-cache/default/recfun-build/scala_2.10/sbt_0.13/0.1-SNAPSHOT/resolved.xml.properties
recfun/project/target/
recfun/target/
forcomp/.worksheet/
*/target/*
**/target/
**/.worksheet/
